<!DOCTYPE html>
<html>
<head>
	<title>Sign In</title>
</head>
<body>
	<form action="/auth" method="POST">
		<label>Username</label>
		<input type="number" name="id">
		<label>Password</label>
		<input type="text" name="pass">
		<input type="submit">
	</form>
</body>
</html>